*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
/bert-base-cased/
/myexperiment/outputs/
logs/

*.mp4
libero.egg-info/
.vscode/
datasets/
outputs/
results/videos/
*.hdf5
*.pt
*.pth
*.bin
model_cache/
__pycache__/

# 新增：忽略任意层级的输出/结果/缓存/视频/权重
**/outputs/
**/*.mp4
**/*.pt
**/*.pth
**/*.bin
**/*.hdf5
.sentry-native/
*.pyc
